@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a,
a:hover,
button,
button:hover {
	cursor: none;
}

h2 {
	font-weight: 600;
	font-size: 32px;
}

@media (min-width: 640px) {
	h2 {
		font-size: 44px;
	}
}
